<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CRM для книгарень та видавництв з управлінням каталогом книг та авторами.">
    <meta name="keywords" content="BookNest, книги, CRM">
    <link rel="stylesheet" th:href="@{/css/edit-style.css}">
    <title>Редагування автора</title>
</head>
<body>
<div class="editcontainer">
    <h1 class="edittitle">Редагування автора</h1>
    <form class="editform" th:action="@{/author/edit/{id}(id=${author.id})}" method="post">
        <div class="editinput-group">
            <label for="name">Ім'я автора:</label>
            <input type="text" id="name" th:value="${author.name}" name="name" class="editinput" placeholder="Введіть ім'я автора" required>
        </div>
        <div class="editinput-group">
            <label for="biography">Біографія автора:</label>
            <textarea id="biography" th:text="${author.biography}" name="biography" class="editinput edittextarea" placeholder="Введіть біографію автора" rows="4" required></textarea>
        </div>
        <div class="editbuttons">
            <a href="/author/list" class="btn-cancel">Назад</a>
            <button type="submit" class="btn-save">Обновити</button>
        </div>
    </form>

</div>
</body>
</html>
