<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CRM для книгарень та видавництв з управлінням каталогом книг та авторами.">
    <meta name="keywords" content="BookNest, книги, CRM">
    <link rel="stylesheet" th:href="@{/css/edit-style.css}">
    <title>Редагування жанру</title>
</head>
<body>
<div class="editcontainer">
    <h1 class="edittitle">Редагування жанру</h1>
    <form class="editform" th:action="@{/genre/edit/{id}(id=${genres.id})}" method="post">
        <div class="editinput-group">
            <label for="name">Назва жанру:</label>
            <input type="text" id="name" name="name" class="editinput" th:value="${genres.name}" required>
        </div>
        <div class="editinput-group">
            <label for="description">Опис:</label>
            <textarea id="description" name="description" class="editinput edittextarea" rows="4" th:text="${genres.description}"></textarea>
        </div>
        <div class="editbuttons">
            <a th:href="@{/genres/list}" class="btn-cancel">Назад</a>
            <button type="submit" class="btn-save">Зберегти</button>
        </div>
    </form>
</div>
</body>
</html>
