<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Авторизація</title>
    <link rel="stylesheet" th:href="@{/css/auth-style.css}">
</head>
<body>

<div class="container">
    <div th:if="${param.error}" class="custom-error">
        <p>Неправильний email або пароль!</p>
    </div>
    <h1>Авторизація</h1>
    <form class="login-form" th:action="@{/login}" method="post">
        <label for="username">Електронна пошта:</label>
        <input type="email" id="username" name="username" required>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Відправити</button>
        <p class="signup-link">
            Немає акаунту?
            <a th:href="@{/registration}">Зареєструватись</a>
        </p>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
</div>

</body>
</html>