/*admin.html*/
.table {
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-collapse: collapse;
    background: #fff;
    border: 3px solid #81A4CD !important;
    text-align: center;
}


.table th {
    font-weight: bold;
    padding: 10px;
    background: #81A4CD !important;
    color: #000;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ddd;
}

.table td {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    word-wrap: break-word;
    max-width: 250px;
}

.table tr:nth-child(even) {
    background: #f9f9f9;
}

.table ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.table ul li {
    display: inline-block;
    margin-right: 5px;
    padding: 2px 5px;
    background: #ddd;
    border-radius: 3px;
    font-size: 14px;
    color: #000;
}

.table button,
.table a {
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    padding: 11px 15px;
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    transition: all 0.3s ease;
}

.table button {
    background-color: #ff4d4d;
}
.table button:hover {
    background-color: #ff0000;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    transform: scale(1.05);
}
.table a {
    background-color: #81A4CD;
    text-align: center;
}
.table a:hover {
    background-color: #3E7CB1;
    box-shadow: 0 0 10px rgba(46, 90, 130, 0.5);
    transform: scale(1.05);
}

.create-section {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.create-section .btn {
    margin-left: 10px;
    display: inline-block;
    color: #fff;
    margin-right: 20px;
    background-color: #3E7CB1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-section .btn:hover {
    background-color: #054A91;
}

.editcontainer {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border: 2px solid #81A4CD;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
}

.edittitle {
    font-size: 26px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.editform {
    display: flex;
    flex-direction: column;
}

.editinput-group {
    margin-bottom: 15px;
}

.editinput-group label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.editinput, .editselect {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.edittextarea {
    resize: none;
}

.editbuttons {
    display: flex;
    justify-content: space-between;
}

.btn-cancel {
    background-color: #ff4d4d;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
}

.btn-cancel:hover {
    background-color: #ff0000;
}

.btn-save {
    background-color: #3E7CB1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-save:hover {
    background-color: #054A91;
    color: #fff;
}


.editcheckbox-label {
    font-size: 16px;
    color: #555;
}

.editcheckbox {
    margin-right: 10px;
}

.editcheckbox-text {
    font-size: 14px;
    color: #333;
}