/* Основні стилі */
body {

    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100%;

}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
p {
    margin-bottom: 1em;
}
main{
    padding: 30px;
    flex: 1 1 auto;
}

* {
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #ffffff;
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.header img {
    height: 50px;
}

.header .nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header .nav-item a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.header .nav-item a:hover {
    color: #007bff;
}

/* Секція hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5%;
    background-image: url('../images/test-photo.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
    text-align: left;
}

.hero .content {
    max-width: 80%;
}

.hero h1 {
    font-size: 3.4rem;
    color: #2e4d34;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.hero .btn {
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #3E7CB1;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.hero .btn:hover {
    background-color: #054A91;
}

.books {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 300px;
    height: 400px;
    margin-right: 30px;
}

.book-center {
    position: absolute;
    width: 200px;
    height: auto;
    top: 60px;
    left: 50px;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

/* Ліва задня книга */
.book-left {
    position: absolute;
    width: 150px;
    height: auto;
    top: 20px;
    left: -30px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

/* Права задня книга */
.book-right {
    position: absolute;
    width: 150px;
    height: auto;
    top: 120px;
    left: 180px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.books img:hover {
    transform: scale(1.1);
}

/* Секція categories */
.categories {
    display: flex;
    justify-content: space-around;
    padding: 3rem 5%;
    background-color: #ffffff;
    flex-wrap: wrap;
}

.card h3 {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 1.2;
    white-space: normal;
    overflow-wrap: break-word;
}
.card .btn {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 12px 24px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    align-self: flex-start;
}

/* Кольори для карток */
.card.new-release {
    background-color: #F22B24;
}
.card.new-release .btn {
    background-color: #CB241F;
}

.card img {
    width: 100%;
    max-width: 179px;
    height: auto;
    margin: 0 auto 20px;
    object-fit: contain;
    border-radius: 4px;
}

.card {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 400px;
    padding: 5px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}
.card.pre-order {
    background-color: #50D0F7;
}
.card.pre-order .btn {
    background-color: #27B0D2;

}
.text-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    padding-right: 15px;
    max-width: 50%;
}

.card.top-rated {
    background-color: #0089FF;
}

.card.top-rated .btn {
    background-color: #0078E1;
}

.card .btn:hover {
    opacity: 0.8;
}

/*Знижка*/
.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    max-width: 1200px;
    background-color: #adacac;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;

}
.text-content {
    text-align: center;
}

.text-content p {
    font-size: 1.1em;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.text-content h2 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #090909;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: white;
    color: black;
}

.image-container {
    margin: -53px 50px -4rem 50px;

}
.image-container img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    transition: max-width 0.3s ease;

}
.image-container-right{
    display: flex;
    justify-content: left;
    margin-bottom: -24rem;
    margin-right: -18rem;
    max-width: 200px;

   }
.image-container-right img {
    max-width: 650px;
    height: auto;
    border-radius: 8px;
    position: relative;
    top: -90px;
    transition: max-width 0.3s ease;
    transform: rotate(-10deg);
}
    /*Топ*/
.books-section {
    background-image: url('../images/test-photo.jpg');
    padding: 20px;
    text-align: center;
}

.books-section h2 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

.books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.book-card {
    position: relative;
    width: 180px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease;

    flex: 1 1 calc(20% - 20px); /* Картки займають 20% ширини контейнера, з урахуванням відстані між ними */
    box-sizing: border-box;
}

.book-card:hover {
    transform: translateY(-10px);
}

.book-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.book-card .tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff6b6b;
    color: #fff;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 3px;
}

.book-card h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 10px 5px;
}

.book-card p {
    font-size: 1.2rem;
    color: #777;
    margin: 0 10px;
}

.book-card .price {
    font-weight: bold;
    color: #e74c3c;
    margin: 10px;
}

.book-card .price del {
    color: #bbb;
    margin-right: 5px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.section-header h2 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin: 0;
}

.section-header .view-all {
    font-size: 1.3rem;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.section-header .view-all:hover {
    text-decoration: underline;
}

/* Секція */
.top-categories {
    text-align: center;
    background-color: #E6E6E6;
    padding: 20px 10px;
    margin-bottom: 20px;

}

/* Заголовок */
.top-categories h2 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Контейнер з категоріями */
.categories-container {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    flex-wrap: wrap;
}

/* Кожна категорія */
.category {
    text-align: center;
    margin: 20px;
}
.circle {
    background-image: url('../images/circle.png');
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Зображення категорії */
.circle img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

/* Текст під зображенням */
.category p {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-top: 10px;
}

/* Анімація на наведенні */
.category img:hover {
    transform: scale(1.1);
}

/* Адаптивні стилі */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero .content {
        max-width: 70%;
        margin-bottom: 2rem;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .categories {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 100%;
        margin-bottom: 2rem;
    }

    .card img {
        max-width: 30%;
    }
    .section-header {
        justify-content: space-between;
        padding: 10px 15px;
    }

    .section-header h2 {
        margin: 0;
        text-align: left;
    }

    .section-header .view-all {
        margin-right: -20px;
    }
    .section-header .view-all span {
        white-space: nowrap;
    }
}

/* Приховуємо зображення, коли ширина екрану перевищує 1500px (симулює збільшений масштаб) */
@media (max-width: 1200px) {
    .image-container ,
    .image-container-right {
        display: none;
    }
    .books {
        display: none;
    }
    .container {
        display: flex;
        justify-content: center;
        max-width: 600px;
        padding: 3rem 1rem;
    }
    .card{
        margin-bottom: 2rem;
    }
    .text-content {
        text-align: center;
        flex: none;
        width: 100%;
    }
}

footer {
    background-color: #054A91;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 200px;
}

.footer-column h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-column a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #3E7CB1;
}

.footer-column i {
    font-size: 36px;
}

.footer-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

.footer-icons a {
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}

.footer-text {
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid white;
    width: 100%;
}

.cart-button {
    background-color: #3E7CB1;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-button:hover {
    background-color: #054A91;
}

.cart-button:focus {
    outline: none;
}

/* Стилі для контейнера з посиланням */
.back-link {
    text-align: center;
    margin-top: 20px;
}

/* Стилі для кнопки "На головну" */
a.btn-back {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc;
    color: #333;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
}

a.btn-back:hover {
    background-color: #aaa;
    color: white;
}