<footer th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="footer-container">
        <div class="footer-column">
            <h4>Структура</h4>
            <a th:href="@{/}">Головна</a>
            <a href="#">Про нас</a>
            <a href="#">Контакти</a>
        </div>
        <div class="footer-column">
            <h4>Оплата</h4>
            <a href="#">Доставка і оплата</a>
            <a href="#">Повернення товару</a>
        </div>
        <div class="footer-column">
            <h4>Для користувачів</h4>
            <a href="#">Зворотній зв'язок</a>
            <a href="#">Читацький клуб</a>
            <a href="#">Проєкти</a>
        </div>
        <div class="map">
            <div class="footer-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10162.307643182787!2d30.446576522798626!3d50.44898089546749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce82b9d930e5%3A0x8b1e1e0c5175e2f!2z0JrQn9CGLCDQutC-0YDQv9GD0YEg4oSWMQ!5e0!3m2!1suk!2sua!4v1725982299276!5m2!1suk!2sua"
                        width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>

    </div>
    <div class="footer-text">
        © 2024 BookNest.
    </div>
</footer>